* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}

html {

    /*declaração de variáveis de cores para facilitar a padronização*/
    --black: #0d114f;
    --white: #fafafa;
    --red: #e83f5b;
    --light-blue: #e0ecff;
    --blue: #3485ff;
    --background: #f6faff;
    --overlay: #040911;
    --icons-details: #a5b0c1;

    --grey-dark: #4d5e77;
    --grey-blue: #a1b2cd;
    --grey-light: #e5eaf1;

    /* 
    1rem = 16px = 100% <-- padrão do navegador
    10px = 62,5%
    1px = 6,25%
    se padronizarmos o html com 6,25% de tamanho --> 1rem = 1px
    ou, se se padronizarmos o html com 62,5% de tamanho --> 1rem = 10px
    pode usar qualquer um dos dois, como preferir
    */

    font-size: 62.5%;
}

body {
    display: flex;
    height: 100vh; /*100vh --> 100% da altura do campo de visão da tela*/
    /*width: 100vw; /*100vw --> 100% da largura do campo de visão da tela*/
    background: var(--background);
}

body, button, input, textarea {
    font-size: clamp(14px, 1.6rem, 2vw); /*intervalo de tamanho*/
    font-family: 'Open Sans', sans-serif;
    
}

.content {
    width: 100%;
    margin: 0 auto;
}

.src_only {
    position: absolute;
    height: 0px;
    /* width: 1px; */
    /* padding: 0; */
    /* margin: -1px; */
    overflow: hidden;
    /* clip-path: rect(0,0,0,0); */
    /* white-space: nowrap; */
    /* border-width: 0; */
}

input, button, .button {
    border-radius: .8rem;
    height: 5rem;
}

button, .button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 0;

    display: flex;
    align-items: center; /*alinha verticalmente*/
    justify-content: center; /*alinha na horizontal, especialmente aqui por conter uma imagem junto*/

    background: var(--blue);
    color: var(--white);

    cursor: pointer;
    
    
}

button:hover, .button:hover {
    filter: brightness(1.2);
    

}

button > img
.button > img {
    margin-right: 1rem;
    width: 2rem;

}

buton.outlined,
.button.outlined {
    background: var(--white);
    color: var(--blue);
    border: .2rem solid var(--blue);

}

.content header {
    width: 80%;
    margin: 3.5rem auto;

}

.content header img {
    width: 16.7rem;

}